/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

/* Tablo stilleri */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
thead th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

tbody td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Bağlantı stilleri */
a {
  color: #00ff80;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #00b35f;
}

/* Düğme stilleri */
.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

/* Genel stiller */
body {
  font-family: Arial, sans-serif;
}

/* Tablo stilleri */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  width: 30%;
  min-width: 300px;
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  margin-bottom: 10px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-info {
  background-color: #17a2b8;
}

.btn-info:hover {
  background-color: #117a8b;
}
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Form stilleri */
.form-container {
  max-width: 370px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 6px;
  background-color: #fdfdfd;
}
td.center-header {
  text-align: center;
}
.form-group {
  margin-bottom: 20px;
  align-items: right;
}
th.text-right {
  text-align: right;
  font-size: 25px;
  color: #000;
}
td.text-right {
  text-align: right;
  font-size: 15px;
  color: #000;
}
.form-group label {
  display: block;
  font-weight: bold;
  text-align: left; 
}
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
  resize: vertical; 
}

.actions {
  text-align: right;
  margin-top: 15px;
}

/* Düğme stilleri */
.btn {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}